---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardContainer from "../components/CardContainer.astro";
---

<Layout title="Welcome to Astro.">
	<main class="max-w-3xl m-auto p-6">
		<h1 class="text-5xl font-extrabold m-0 text-center">
			Welcome to <span
				class="bg-gradient-to-tr from-accent via-subaccent text-transparent bg-clip-text bg-[length:400%] bg-[0]"
				>JSPM</span
			>
		</h1>
		<p
			class="leading-relaxed my-4 mx-0 dark:bg-slate-800 bg-slate-200 dark:text-white text-black p-4 rounded-lg border-accent border-2 text-center"
		>
			In JsScripts Package Manager you can download scripts and libraries! <br
			/>
			<strong>Just click on a script you like to download it!</strong>
		</p>
	</main>
	<CardContainer cols="1">
		<Card
			title="ConfigLib"
			body="A simple library for creating a .json config file for your script."
			href="#"
			type="Library"
		/>
		<Card
			title="/shrug"
			body="Adds a /shrug <msg> command ¯\\_(ツ)_/¯"
			href="#"
			type="Feature"
		/>
	</CardContainer>
</Layout>

<style>
	/* main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	} */
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 2px solid rgba(var(--accent), 25%);
		background-color: black;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
