---
import Layout from "../layouts/Layout.astro";
import ScriptCard from "../components/ScriptCard";
import CardContainer from "../components/CardContainer.astro";
---

<Layout title="JSPM">
	<main class="max-w-3xl m-auto p-6">
		<h1 class="text-5xl font-extrabold m-0 text-center">
			<span class="bg-gradient-to-tr from-accent via-subaccent text-transparent bg-clip-text">JSPM</span> - JsScripts Package Manager
		</h1>
		<p class="leading-relaxed my-4 mx-0 dark:bg-slate-800 bg-slate-200 dark:text-white text-black p-4 rounded-lg border-accent border-2 text-center">
			Quick access to scripts and libraries!
		</p>
	</main>
	<CardContainer cols="1">
		<ScriptCard
			name="ConfigLib"
			description="A simple library for creating a .json config file for your script."
			identifier="configlib"
			type="library"
		/>
		<ScriptCard
			name="/shrug"
			description="Adds a /shrug <msg> command ¯\\_(ツ)_/¯"
			identifier="shrug"
			type="feature"
		/>
	</CardContainer>
</Layout>
