---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="JSMP - JsScript Package Manager, download and search scripts."
		/>
		<title>{title}</title>
	</head>
	<body
		class="bg-gradient-to-t from-green-200 to-green-50 dark:from-slate-600 dark:to-slate-800 bg-no-repeat w-screen h-screen text-black dark:text-white font-sans"
	>
		<slot />
	</body>
</html>
<style is:global>
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
